<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/donghongGitHub/donghongIPA/blob/d5e31b9fd0a00a8524722d4d9017c036eadb480c/VLDTest.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://github.com/donghongGitHub/donghongIPA/blob/d06ae3b24525157fe7e35a78fde4fe3703a5be8d/AppIcon512.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://github.com/donghongGitHub/donghongIPA/blob/9b07fb83eeb087b4ffb1930a0084a5c619daf6c1/AppIcon57.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.vldtech.winlotterytest</string>
				<key>bundle-version</key>
				<string>1.80</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>顶呱刮</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
